#Ignore binary files
bin/
!lib/*/bin

#ignore old include folder 
src/include/

#Just for now
build/

#Ignore Visual Studio Code requirements 
.vscode/

#Ignore files meant to learn libraries
learning/

#Ignore input and output files
*.csv
*.xlsx