#Ignore binary files
bin/
!lib/*/bin

#ignore old include folder 
src/include/

#Ignore build
build/

#Ignore Visual Studio Code requirements 
.vscode/

#Ignore files meant to learn libraries
learning/

#Ignore input and output files
*.csv
*.xlsx

#Ignore all .txt files except CMake File
*.txt
!CMakeLists.txt

#ignore test files 
test/